<div class="container">
    <div class="row">
        <div class="w-100 d-flex justify-content-between">
            <h3 for="requisitos">Lista de Convocatorias</h3>
            <button type="submit" class="btn btn-info mr-4" (click)="listarTodo()">Listar todo</button>
        </div>
        <div class="w-100">
            <hr class="border border-secondary bg-secondary">
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col align-self-center">
            Filtrar por:
        </div>
        <i class="fas fa-filter mr-5 align-self-center"></i>
        <div class="form-inline mr-2">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Tipo:</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="filtroTipo" [(ngModel)]="filtroTipo">
                <option selected disabled>Tipo...</option>
                <option value="Docencia">Docencia</option>
                <option value="Laboratorio">Laboratorio</option>
            </select>
        </div>
        <div class="form-inline mr-3">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Estado:</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="filtroEstado" [(ngModel)]="filtroEstado">
                <option selected disabled>Estado...</option>
                <option value="En configuracion">En configuracion</option> <!-- editar - borrar -->
                <option value="En curso" >En curso</option>
                <option value="Finalizado">Finalizado</option>
                <option value="Impugnado">Impugnado</option>
                <option value="Desierta">Desierta</option>
            </select>
        </div>
        <div class="form-inline mr-3">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Gestion:</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" name="filtroGestion" [(ngModel)]="filtroGestion">
                <option selected disabled>Gestion...</option>
                <option value="2015" >2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option> 
                <option value="2021">2021</option>
                <option value="2022">2022</option> 
                <option value="2023">2023</option> 
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="table-responsive mt-3">
            <table class="table align-middle" id="requerimientos">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center" scope="col">Título Convocatoria</th>
                        <th class="text-center" scope="col">Tipo</th>
                        <th class="text-center" scope="col">Estado</th>
                        <th class="text-center" scope="col">Gestión</th>
                    </tr>
                </thead>
                <tbody class="accordion" id="accordionExample">
                    <ng-container *ngFor="let item of listaConvocatoria | filtroConvocatorias:filtroGestion:filtroTipo:filtroEstado; let i = index">
                        <tr data-toggle="collapse" attr.data-target="#id{{item.getIdConv()}}" aria-expanded="false" attr.aria-controls="id{{item.getIdConv()}}" id="id2{{item.getIdConv()}}" (click)="cambiar(item.getIdConv())">
                            <td><i id="idIcono{{item.getIdConv()}}" class="fas fa-angle-right mr-2"></i>&nbsp;&nbsp;{{item.getTitulo() | titlecase}}</td>
                            <td class="text-center">{{item.getTipo().getNombre() | titlecase}}</td>
                            <td class="text-center">{{item.getEstado() | titlecase}}</td>
                            <td class="text-center">{{item.getGestion() | titlecase}}</td>
                        </tr>
                        <tr class="collapse" id="id{{item.getIdConv()}}">
                            <td colspan="4" class="pt-2 pb-4">
                                <span class="font-weight-bold mr-2">Acciones:&nbsp;</span><br>
                                <button routerLink="/habilitarConvocatoria/formulario" class="ml-5 mr-2 btn btn-outline-primary badge" [disabled]="item.getEstado() !='En configuracion'" (click)="habilitar(item)"><i class="fa fa-file-alt"></i>&nbsp; Habilitar</button>
                                <button routerLink="/comisiones" class="mr-2 btn btn-outline-info badge" [disabled]="item.getEstado() != 'En configuracion'" (click)=" clickComision(item)"><i class="fas fa-users"></i>&nbsp; Comisiones</button>
                                <button class="mr-2 btn btn-outline-success badge" [disabled]="item.getEstado() !='En configuracion'" data-toggle="modal" data-target="#tablaEditar" (click)="editar(item)"><i class="fa fa-pencil"></i>&nbsp; Editar</button>
                                <button class="mr-2 btn btn-outline-danger badge" [disabled]="item.getEstado() !='En configuracion'"><i class="fa fa-trash-alt"></i>&nbsp; Borrar</button>
                            </td>
                        </tr>
                    </ng-container>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="tablaEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar convocatoria</h5>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true ">&times;</span>
          </button>
            </div>
            <div class="modal-body" id="modalMeritos">
                <form [formGroup]="formCrearConv" (ngSubmit)="save($event)" novalidate autocomplete="off">
                    <div class="form-group">
                        <label for="nombreConvocatoria" class="col-form-label">Título De La Covocatoria:</label>
                        <textarea role="input" class="form-control" id="tituloConvocatoria" rows="3" style="min-height: 100px; max-height: 150px;" [class.is-invalid]="tituloFormIsInvalid" [class.is-valid]="tituloFormIsValid" formControlName="titulo"></textarea>
                        <div *ngIf="tituloFormIsInvalid">
                            <small class="text-danger" *ngIf="tituloForm.hasError('required')">
                  Llene el campo por favor <small class="fal fa-exclamation-triangle "></small>
                            </small>
                            <small class="text-danger" *ngIf="tituloForm.hasError( 'minlength')">
                  Texto muy corto <small class="fal fa-exclamation-triangle "></small>
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="seleccionGestion" class="col-form-label">Gestion: </label>
                        <select class="custom-select" id="seleccionGestion" [class.is-invalid]="gestionFormIsInvalid" [class.is-valid]="gestionFormIsValid" formControlName="gestion">
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
              </select>
                        <div *ngIf="gestionFormIsInvalid">
                            <small class="text-danger" *ngIf="gestionForm.hasError( 'required')">
                  Seleccione una gestion <small class="fal fa-exclamation-triangle"></small>
                            </small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button routerLink="/editarConvocatoria/formulario" data-dismiss="modal" type="submit" class="btn btn-primary">Ver convocatoria</button>
                <!--(click)="loading()"-->
                <div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" (click)="formValido()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>