<div class="container mt-5" id=cont>
    <h2 class="text-center">Evaluacion De Datos Postulante</h2>
    <br><br>
    <nav class="d-flex justify-content-between" animationDuration="1200ms">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active border-left" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Convocatorias Asignadas</a>
            <a class="nav-item nav-link border-left invisible" id="postulantes" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Postulantes</a>
            <a class="nav-item nav-link border-left invisible" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" id="evaluacion">Evaluacion Estudiante</a>
        </div>
        <div>
            <button routerLink="/home" class=" btn btn-outline-primary">
        Salir
      </button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active  border-left border-right" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <app-convocatorias-asignadas #convocatorias (listarPos)="listarPos($event)"></app-convocatorias-asignadas>
        </div>
        <div class="tab-pane fade border-left border-right" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <app-postulantes-asignadas #postulantes (datosPostulante)="datosPostulante($event)" (requisitosEvaluadosPost)="requisitosEvaluadosPost($event)"></app-postulantes-asignadas>
        </div>
        <div class="tab-pane fade border-left border-right" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <app-registro-requisitos-presentados #datosPost (datosPostl)="redireccion()"></app-registro-requisitos-presentados>
        </div>
    </div>
</div>