<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Registrar Datos personales</h4>
            <div class="w-100">
                <hr class="border border-light bg-secondary">
            </div>
            <form class="form p-t-20">
                <div class="form-group" *ngFor="let item of listaDatosRotulo">
                    <label for="exampleInputpwd2">{{item.getNombre()}}</label>
                    <div class="input-group">
                        <input type="{{item.getTipo()}}" class="form-control" id="{{item.getNombre()}}" placeholder="Ingrese su {{item.getNombre()}}">
                    </div>
                    <small class="inline-block text-danger" id="{{item.getNombre()}}11" style="display: none;">{{msjErrorNumericoVacio}}&nbsp;<small class="fal fa-exclamation-triangle"></small></small>
                    <small class="inline-block text-danger" id="{{item.getNombre()}}12" style="display: none;">{{msjErrorNumericoCorto}}&nbsp;<small class="fal fa-exclamation-triangle"></small></small>
                    <small class="inline-block text-danger" id="{{item.getNombre()}}21" style="display: none;">{{msjTextoVacio}}&nbsp;<small class="fal fa-exclamation-triangle"></small></small>
                    <small class="inline-block text-danger" id="{{item.getNombre()}}22" style="display: none;">{{msjTextocorto}}&nbsp;<small class="fal fa-exclamation-triangle"></small></small>
                    <small class="inline-block text-danger" id="{{item.getNombre()}}31" style="display: none;">{{msjErrorEmailVacio}}&nbsp;<small class="fal fa-exclamation-triangle"></small></small>
                    <small class="inline-block text-danger" id="{{item.getNombre()}}32" style="display: none;">{{msjErrorEmailCorto}}&nbsp;<small class="fal fa-exclamation-triangle"></small></small>
                    <small class="inline-block text-danger" id="{{item.getNombre()}}33" style="display: none;">{{msjErrorEmailIncorrecto}}&nbsp;<small class="fal fa-exclamation-triangle"></small></small>
                </div>
            </form>
            <div class="form-group">
                <div class="d-flex justify-content-end mt-5">
                  <button class="btn btn-outline-dark" type="button" (click)="guardarDatos()">Guardar </button>
                </div>
              </div>
              <br>
        </div>
        </div>
</div>