<div class="form-group">
    <div class="d-flex justify-content-between align-items-end">
        <label>1.- Requerimientos</label>
        <button [disabled]="!seleccionRequerimiento.hayMateriasDisponibles() || !ruta()" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#tablaRequerimientos" (click)="resetForm()">
            <i class="fa fa-plus"></i> Añadir
        </button>
    </div>
    <div class="table-responsive">
        <table class="table align-middle table-hover mt-2 table-bordered" id="requerimientos">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center" scope="col">Cantidad De Items</th>
                    <th class="text-center" scope="col">Hrs/mes</th>
                    <th class="text-center" scope="col">Nombre Item</th>
                    <th class="text-center" scope="col">Codigo Auxiliatura</th>
                    <th class="text-center" scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let requerimiento of requerimientosSeleccionados; index as i">
                    <td>{{requerimiento.getCantidadItem()}}</td>
                    <td>{{requerimiento.getHrsAcademicas()}}</td>
                    <td>{{requerimiento.getnombreMateria()}}</td>
                    <td>{{requerimiento.getCodigoAuxiliatura()}}</td>
                    <td class="text-center">
                        <div class="btn btn-group" role="group">
                            <button [disabled]="!ruta()" class="btn btn-outline-success mr-1" type="button" data-toggle="modal" data-target="#tablaRequerimientos" (click)="editar(i)">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button [disabled]="!ruta()" class="btn btn-outline-danger" (click)="alertEliminar()" type="button">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

<!------------- modal requerimientos -------------------->
<div class="modal fade" id="tablaRequerimientos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Agregar nuevo requerimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body" id="modalRequerimientos">
                <form [formGroup]="formRequerimientos" (ngSubmit)="save($event)" novalidate autocomplete="off">
                    <div class="form-group">
                        <label for="items" class="col-form-label">Cantidad De Items: </label>
                        <input placeholder="Cant. de items" type="number" class="form-control" [class.is-invalid]="itemIsInvalid" [class.is-valid]="itemIsValid" id="itemRequerimiento" formControlName="items">
                        <div *ngIf="itemIsInvalid">
                            <small class="text-danger" *ngIf="item.hasError('required')">
                                Llene el campo por favor  <small class="fal fa-exclamation-triangle"></small>
                            </small>
                            <small class="text-danger" *ngIf="item.hasError('min')">
                                Dato invalido  <small class="fal fa-exclamation-triangle"></small>
                            </small>
                            <small class="text-danger" *ngIf="item.hasError('pattern')">
                                Ingrese un valor valido  <small class="fal fa-exclamation-triangle"></small>
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Hrs/Mes: </label>
                        <input placeholder="Hrs/Mes." type="number" class="form-control" [class.is-invalid]="horasMesIsInvalid" [class.is-valid]="horasMesIsValid" id="horasMesRequerimiento" name="cant" formControlName="horasMes">
                        <div *ngIf="horasMesIsInvalid">
                            <small class="text-danger" *ngIf="horasMes.hasError('required')">
                                Llene el campo por favor  <small class="fal fa-exclamation-triangle"></small>
                            </small>
                            <small class="text-danger" *ngIf="horasMes.hasError('min')">
                                Dato invalido  <small class="fal fa-exclamation-triangle"></small>
                            </small>
                            <small class="text-danger" *ngIf="horasMes.hasError('pattern')">
                                Ingrese un valor valido  <small class="fal fa-exclamation-triangle"></small>
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nombre item: </label>
                        <select aria-placeholder="Seleccione" class="custom-select" [class.is-invalid]="materiaFormIsInvalid" [class.is-valid]="materiaFormIsValid" formControlName="materia" id="seleccionaMateria">
                                <option *ngFor="let mat of listaMateriasDisponibles; let i = index" [value]="mat" >{{mat}}</option>
                            </select>
                        <div *ngIf="materiaFormIsInvalid">
                            <small class="text-danger" *ngIf="materiaForm.hasError('required')">
                                    Seleccione una materia  <small class="fal fa-exclamation-triangle"></small>
                            </small>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group d-flex justify-content-end mt-4">
                        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" (click)="formValido();" id="guardar">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>