<div>
    <div class="d-flex justify-content-between align-items-center ">
        <h4 class="card-title ">V. Experiencia Extra-Universitaria</h4>
        <button type="button " class="btn btn-outline-info mb-2" data-toggle="modal" data-target="#modalExperienciaExtraUniversitaria" (click)="reset()">
      <i class="fa fa-plus "></i> Añadir
    </button>
    </div>
    <div class="form-row ">
        <div class="table-responsive ">
            <table class="table align-middle table-hover mt-2 table-bordered ">
                <thead class="thead-dark ">
                    <tr>
                        <th class="text-center " scope="col ">Institucion/Empresa</th>
                        <th class="text-center " scope="col ">Cargo/Actividad</th>
                        <th class="text-center " scope="col ">Fecha De Inicio</th>
                        <th class="text-center " scope="col ">Lugar</th>
                        <th class="text-center " scope="col ">Duracion (Mes)</th>
                        <th class="text-center " scope="col ">Fecha De Conclucion</th>
                        <th class="text-center " scope="col ">Elimnar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let datoExperienciaExtra of listaExperienciaExtraUniversitaria; index as i">
                        <td>{{datoExperienciaExtra.getNombreInstitucionEmpresa()}}</td>
                        <td>{{datoExperienciaExtra.getNombreCargoActividad()}}</td>
                        <td>{{datoExperienciaExtra.getFechaInicio()}}</td>
                        <td>{{datoExperienciaExtra.getLugar()}}</td>
                        <td>{{datoExperienciaExtra.getDuracion()}}</td>
                        <td>{{datoExperienciaExtra.getFechaFin()}}</td>
                        <td class="text-center">
                            <div class="btn btn-group" role="group">
                                <button class="btn btn-outline-danger" type="button" (click)="eliminarInformacion(datoExperienciaExtra)">
                              <i class="fa fa-trash-alt"></i>
                            </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--           modal para la tabla de experiencia extra universitaria               -->
<div class="modal fade " id="modalExperienciaExtraUniversitaria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title ">Detalles De Experiencia Extra-Universitaria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true ">&times;</span>
        </button>
            </div>
            <div class="modal-body ">
                <form autocomplete="off" (ngSubmit)="guardar(form)" #form="ngForm">
                    <div *ngIf="asignacion(form)" class="hide"></div>
                    <div class="form-group ">
                        <label for="recipient-name " class="col-form-label ">Nombre de intitucion/empresa: </label>
                        <input placeholder="Nombre Institucion" class="form-control " type="text" required name="nombreInstitucion" #nombreInstitucion="ngModel" ngModel [class.is-invalid]="nombreInstitucion.invalid && nombreInstitucion.touched" [class.is-valid]="nombreInstitucion.valid && nombreInstitucion.touched">
                    </div>
                    <div class="form-group ">
                        <label for="recipient-name " class="col-form-label ">Nombre del Cargo/actividad: </label>
                        <input placeholder="Nombre cargo" class="form-control " type="text" required name="nombreCargo" #nombreCargo="ngModel" ngModel [class.is-invalid]="nombreCargo.invalid && nombreCargo.touched" [class.is-valid]="nombreCargo.valid && nombreCargo.touched">
                    </div>
                    <div class="form-group ">
                        <label for="recipient-name" class="col-form-label">Lugar(ciudad, dpto., país): </label>
                        <input placeholder="Lugar" class="form-control" type="text" required name="lugar" #lugar="ngModel" ngModel [class.is-invalid]="lugar.invalid && lugar.touched" [class.is-valid]="lugar.valid && lugar.touched">
                    </div>
                    <div class="form-group ">
                        <label for="recipient-name " class="col-form-label ">Duracion(Meses): </label>
                        <input placeholder="Duracion" class="form-control " type="number" required name="duracion" #duracion="ngModel" ngModel [class.is-invalid]="duracion.invalid && duracion.touched" [class.is-valid]="duracion.valid && duracion.touched">
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label class="col-form-label mr-1 ">Fecha de inicio:</label>
                            <div class="d-flex justify-content ">
                                <input id="fechaI2" [max]="max" (dateInput)="setFecha()" required name="fechaInicio" #fechaInicio="ngModel" ngModel [class.is-invalid]="fechaInicio.invalid && fechaInicio.touched" [class.is-valid]="fechaInicio.valid && fechaInicio.touched" placeholder="Fecha inicio"
                                    [matDatepicker]="pickerm3 " class="form-control " readonly>
                                <mat-datepicker-toggle matSuffix [for]="pickerm3 "></mat-datepicker-toggle>
                                <mat-datepicker #pickerm3></mat-datepicker>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label class="col-form-label mr-1 ">Fecha de conclusion:</label>
                            <div class="d-flex justify-content ">
                                <input [max]="max" [min]="min" required name="fechaConclusion" #fechaConclusion="ngModel" ngModel [class.is-invalid]="fechaConclusion.invalid && fechaConclusion.touched" [class.is-valid]="fechaConclusion.valid && fechaConclusion.touched" placeholder="Fecha Conclusion"
                                    [matDatepicker]="pickerm4 " class="form-control " readonly>
                                <mat-datepicker-toggle matSuffix [for]="pickerm4 "></mat-datepicker-toggle>
                                <mat-datepicker #pickerm4></mat-datepicker>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer ">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit " class="btn btn-primary ">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>