<div class="container">
    <div class="d-flex justify-content-between">
        <h3 class="text-center mb-2" id="inicio">Hoja De Vida</h3>
        <button type="button" class="btn btn-outline-info mb-2" (click)="guardar()">Guardar</button>
    </div>
    <mat-horizontal-stepper>
        <ng-container></ng-container>
        <mat-step label="Datos" state="phone" *ngIf="banderaDatosPersonales">
            <br>
            <app-datos-personales #datos_personales></app-datos-personales>
        </mat-step>
        <mat-step label="Formacion" state="chat">
            <br>
            <app-formacion-academica #formacion_academica></app-formacion-academica>
        </mat-step>
        <mat-step label="Estudios">
            <br>
            <app-estudios-cursos estudios_cursos></app-estudios-cursos>
        </mat-step>
        <mat-step label="Exp. universitaria">
            <br>
            <app-experiencia-universitaria #experiencia_universitaria></app-experiencia-universitaria>
        </mat-step>
        <mat-step label="Exp. extra universitaria">
            <br>
            <app-experiencia-extra-universitaria #experiencia_extra_universitaria></app-experiencia-extra-universitaria>
        </mat-step>
        <mat-step label="Produccion">
            <br>
            <app-produccion #produccion></app-produccion>
        </mat-step>

        <!-- Icon overrides.
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template> -->
    </mat-horizontal-stepper>
</div>