<div class="container">

    <p class=" text-center h2">Hoja De Vida</p>
    <mat-horizontal-stepper>
        <mat-step label="Step 1" state="phone">
            <div>
                <app-datos-personales></app-datos-personales>
            </div>
        </mat-step>
        <mat-step label="Step 2" state="chat">
            <div>
                <app-formacion-academica></app-formacion-academica>
                <br><br>
                <app-estudios-cursos></app-estudios-cursos>
                <br><br>
            </div>
        </mat-step>
        <mat-step label="Paso 3" disabled>
            <div>
                <app-experiencia-universitaria></app-experiencia-universitaria>
                <br><br> '
                <app-experiencia-extra-universitaria></app-experiencia-extra-universitaria>
                <br><br>
                <app-produccion></app-produccion>
            </div>
        </mat-step>

        <!-- Icon overrides.
    <ng-template matStepperIcon="phone">
      <mat-icon>call_end</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
      <mat-icon>forum</mat-icon>
    </ng-template> -->
    </mat-horizontal-stepper>
</div>