<div class="card container  bg-white mb-5 pb-5" id="form">
    <form>
        <div class="form-group">
            <p class="text-center h2 mt-4"> RECEPCION DE DOCUMENTOS </p>
        </div>
        <div class="form-group">
            <label for="items"> </label>
            <div class="d-flex mt-2 justify-content-end">
                <button [disabled]="!bandera" (click)="limpiarDatos()" class="btn btn-outline-primary"> Limpiar Datos</button>
                <button [disabled]="!banderaLimite" (click)="alertGuardar()" class="ml-4 btn btn-outline-success"> Guardar
          Registro</button>
                <button (click)="salir()" class="ml-4 btn btn-outline-danger"> Salir</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mt-2">
                <label class="mt-3" for="items">Hora Del Registro: </label>
                <div *ngIf="!editar" class="d-flex pb-0 mb-0">
                    <input class="form-control d-inline-block pb-0 mb-0" contenteditable="true" value="{{horas}}:&nbsp;{{minutos}}:&nbsp;{{segundos}}" readonly>
                </div>
                <div *ngIf="editar" class="d-flex pb-0 mb-0">
                    <input class="form-control d-inline-block pb-0 mb-0" contenteditable="true" value="{{getHora()}}:&nbsp;{{getMinutos()}}">
                </div>
                <div class="custom-control custom-switch mt-0 pt-0">
                    <input type="checkbox" (click)="editarHora()" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"><small>Editar hora</small></label>
                </div>

            </div>
            <div class="col-sm-6 col-lg-4">
                <label class="mt-4" for="items">Ingrese Codigo: </label>
                <div class="d-flex">
                    <input placeholder="Codigo" type="text" class="form-control d-inline" id="codigo" autocomplete="off">
                    <button class="btn btn-info d-inline" (click)="buscarCodigo()">Buscar</button>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <label class="mt-4" for="items">Numero De Documentos Presentados: </label>
                <div class="d-flex">
                    <input placeholder="numero de documentos" type="number" class="form-control d-inline" id="numero_doc">
                </div>
            </div>
            <br><br>
            <div *ngIf="!banderaLimite && bandera" class="container mt-4 alert alert-danger text-center" role="alert">
                La fecha limite de recepcion de documentos de la convocatoria a la cual postulo este estudiante finalizo {{fechaLimite.getDate()}}/{{fechaLimite.getMonth()+1}}/{{fechaLimite.getFullYear()}} &nbsp; Horas: &nbsp;{{horaLimite}}
            </div>
            <br><br>
            <ng-container *ngIf="bandera">
                <div class="col-sm-12 col-lg-6">
                    <div class="card mt-4">
                        <div class="card-header">
                            <h5 class="card-title text-center"><span class="font-weight-bold">Convocatoria</span> &nbsp; <i class="fal fa-users-class"></i></h5>
                        </div>
                        <div class="card-body text-center">
                            <p class="card-text">{{convocatoria.getTitulo() | titlecase}}
                            </p>
                            <hr class="bg-dark mt-0 h-10">
                            <p class="card-text"><span class="font-weight-bold">Gestion:</span> &nbsp; &nbsp;{{convocatoria.getGestion()}}
                            </p>
                            <hr class="bg-dark mt-0 h-10">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <div class="card mt-4">
                        <div class="card-header">
                            <h5 class="card-title text-center"><span class="font-weight-bold">Postulante</span> &nbsp; <i class="fal fa-user-graduate"></i></h5>
                        </div>
                        <div class="card-body text-center">
                            <div class="pb-2">
                                <p class="card-text mb-0 text-capitalize"><span class="font-weight-bold">Codigo
                    Sis:</span>&nbsp;&nbsp;{{postulante.getCodigoSis()}}</p>
                                <hr class="bg-dark mt-0 h-10">
                                <p class="card-text mb-0 text-capitalize"><span class="font-weight-bold">Apellidos:</span>&nbsp;&nbsp;{{postulante.getApellidoP() | titlecase}}&nbsp;{{postulante.getApellidoM() | titlecase}}
                                </p>
                                <hr class="bg-dark mt-0 h-10">
                                <p class="card-text mb-0 text-capitalize"><span class="font-weight-bold">Nombres:</span>&nbsp;&nbsp;{{postulante.getNombre() | titlecase}}</p>
                                <hr class="bg-dark mt-0 h-10">
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#staticBackdrop">
              Itemes del postulante
            </button>
                    </div>
                </div>
            </ng-container>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Items</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="pb-2" *ngFor="let item of listaItems">
                    <p class="mb-0">{{item.getNombreItem()}}</p>
                    <hr class="bg-dark mt-0 h-10">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>