<div class="container mt-5 mb-5">
    <form>
        <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" aria-describedby="emailHelp">
        </div>
        <br>
        <div class="form-group">
            <app-requerimientos #requerimiento (listaCodigos)="setListaCodigos($event)" (datosRequerimientos)="datosRequerimientos($event)"></app-requerimientos>
        </div>
        <br>
        <div class="form-group">
            <app-requisitos></app-requisitos>
        </div>
        <br>
        <div class="form-group">
            <app-documentos-presentar #documentosPresentar (datosDocumentos)="datosDocumentosPresentar($event)"></app-documentos-presentar>
        </div>
        <br>
        <div class="form-group">
            <app-meritos #merito (datosMeritos)="datosMeritos($event)"></app-meritos>
        </div>
        <br>
        <div class="form-group">
            <app-calificacion-conocimientos #calificacionConocimiento (datosCalificacionConocimiento)="datosCalificacionConocimiento($event)"></app-calificacion-conocimientos>
            <br>
            <app-calificacion-conocimientos-laboratorio></app-calificacion-conocimientos-laboratorio>
        </div>
        <br>
        <div class="form-group">
            <app-fechas></app-fechas>
        </div>
        <br>
        <br>
        <hr>
        <div class="form-group">
            <div class="d-flex justify-content-end mt-5">
                <button class="btn btn-outline-dark" type="button" (click)="requerimiento.getDatos(); documentosPresentar.getDatos(); calificacionConocimiento.getDatos(); merito.getDatos()">
                        <i class="fa fa-plus"></i> Guardar 
                </button>
            </div>
        </div>
        <br>
    </form>
    <br>
</div>