<div class="form-group">
    <div class="d-flex justify-content-between align-items-end">
        <label for="requisitos">4.- Calificación de méritos</label>
        <button [disabled]="ruta() || seleccionMerito.getPorcentajeDisponible()==0" class="btn btn-outline-info" type="button" data-toggle="modal" data-target="#modal1" (click)="resetForm()">
                <i class="fa fa-plus"></i> Añadir {{seleccionMerito.getPorcentajeDisponible()}} %
        </button>
    </div>
    <div id="tablasMeritos">
        <div class="mt-3  mb-0 table-responsive">
            <table class="table align-middle table-hover table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center" scope="col">Descripción de meritos</th>
                        <th class="text-center" scope="col" style="width: 150px;">Porcentaje(%)</th>
                        <th class="text-center" scope="col" style="width: 200px;">Acciones</th>
                    </tr>
                </thead>
            </table>
            <div *ngFor="let merito1 of tablasMeritos; let indice1 = index" class="mt-0 table-responsive">
                <table class="table align-middle table-hover table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center" scope="col">{{merito1.getTitulo() |titlecase}}</th>
                            <th class="text-center" scope="col" style="width: 150px;">{{merito1.getPorcentaje()}} % </th>
                            <th class="text-center" scope="col" style="width: 200px;">
                                <div class="btn btn-group" role="group">
                                    <button [disabled]="ruta()" class="btn btn-outline-success mr-1" type="button">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button [disabled]="ruta()" class="btn btn-outline-danger mr-1" type="button">
                                        <i class="fa fa-trash-alt"></i>
                                    </button>
                                    <button *ngIf="merito1.quedaPorcentaje()" [disabled]="ruta()" class="btn btn-outline-primary" type="submit" data-toggle="modal" data-target="#modal2" (click)="setIndice1(indice1)">
                                        <i class="fa fa-plus">{{merito1.getPorcentajeDisponible()}}%</i> 
                                    </button>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="merito1.getDescripcion().length !== 0">
                            <td colspan="2" class="table-active font-weight-normal">{{merito1.getDescripcion() | titlecase}}</td>
                            <td class="text-center table-active">
                            </td>
                        </tr>
                        <tr *ngFor="let merito2 of merito1.getListaMeritos(); let indice2 = index">
                            <td>
                                <div class="d-flex justify-content-between">
                                    <div>{{indice2+1}}.-{{ merito2.getTitulo()}}</div>
                                    <button *ngIf="tieneMeritos(merito2)" class="btn btn-outline-secondary" type="submit" data-toggle="modal" data-tooltip="tooltip" data-target="#modalSub" data-placement="top" title="Ver detalles del merito" (click)="indicesSubMeritos(indice1, indice2)">
                                        <i class="fas fa-info"></i>
                                    </button>
                                </div>
                            </td>
                            <td class="text-center">{{merito2.getPorcentaje()}} %</td>
                            <td class="text-center">
                                <div class="btn btn-group" role="group">
                                    <button [disabled]="ruta()" class="btn btn-outline-success mr-1" type="button">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button [disabled]="ruta()" class="btn btn-outline-danger mr-1" type="button">
                                        <i class="fa fa-trash-alt"></i>
                                    </button>
                                    <button [disabled]="ruta()" *ngIf="merito2.quedaPorcentaje()" class="btn btn-outline-info" type="submit" data-toggle="modal" data-target="#modal3" (click)="setVariosIndices2(indice1, indice2)">
                                        <i class="fa fa-plus" >{{merito2.getPorcentajeDisponible()}}%</i>
                                    </button>
                                </div>
                            </td>
                            <div class="modal fade" id="modalSub" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="mt-0 table-responsive modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="">Detalle Merito</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table align-middle table-hover table-bordered" *ngFor="let merito3 of mostrarSubMeritos(); let i = index">
                                                <tbody class="thead-light">
                                                    <tr>
                                                        <th class="text-center" scope="col">{{i+1}}.-{{merito3.getTitulo()}}</th>
                                                        <th class="text-center" scope="col" style="width: 150px;">{{merito3.getPorcentaje()}} % </th>
                                                        <th class="text-center" scope="col" style="width: 200px;">
                                                            <div class="btn btn-group" role="group">
                                                                <button [disabled]="ruta()" class="btn btn-outline-success mr-1" type="button">
                                                                    <i class="fa fa-pencil"></i>
                                                                </button>
                                                                <button [disabled]="ruta()" class="btn btn-outline-danger mr-1" type="button">
                                                                    <i class="fa fa-trash-alt"></i>
                                                                </button>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                    <tr *ngIf="merito3.getDescripcion().length !== 0">
                                                        <td colspan="2">{{merito3.getDescripcion()}}</td>
                                                        <td class="text-center">

                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--------------------------------modal    1---------------------- -------->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Agregar nueva tabla meritos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalMeritos">
                <form [formGroup]="formMeritos" (ngSubmit)="save($event)" novalidate autocomplete="off">
                    <div class="form-group">
                        <label class="col-form-label">Ingrese merito</label>
                        <input id="tituloM1" class="form-control" [class.is-invalid]="tituloIsInvalid" [class.is-valid]="tituloIsValid" formControlName="titulo" type="text" placeholder="Ingrese detalle merito">
                        <div *ngIf="tituloIsInvalid">
                            <small class="text-danger" *ngIf="titulo.hasError('required')">
                                            Llene el campo por favor <small class="fal fa-exclamation-triangle"></small>
                            </small>
                            <small class="text-danger" *ngIf="titulo.hasError('minlength')">
                                            Texto demasiado corto  <small class="fal fa-exclamation-triangle"></small>
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Ingrese porcentaje</label><input id="porcentajeM1" class="form-control" [class.is-invalid]="porcentajeIsInvalid" [class.is-valid]="porcentajeIsValid" formControlName="porcentaje" type="number" placeholder="Porcentaje%">
                        <div *ngIf="porcentajeIsInvalid">
                            <small class="text-danger" *ngIf="porcentaje.hasError('required')">
                                        Llene el campo por favor  <small class="fal fa-exclamation-triangle"></small>
                            </small>
                            <small class="text-danger" *ngIf="porcentaje.hasError('min')">
                                        Dato invalido  <small class="fal fa-exclamation-triangle"></small>
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" id="descripcionMerito">Agregar descripcion <small class="text-danger">(*)</small> </label>
                        <textarea class="form-control" id="requisitosM1" rows="3" placeholder="Descripcion del merito"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" (click)="formValido1()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!--------------------------------modal  2---------------------- -------->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Agregar nuevo merito</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body" id="modalMeritos">
                <form [formGroup]="formMeritos" (ngSubmit)="save($event)" novalidate autocomplete="off">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Detalle calificacion:</label>
                        <textarea type="text" class="form-control" [class.is-invalid]="tituloIsInvalid" [class.is-valid]="tituloIsValid" formControlName="titulo" rows="3" id="titulo2"></textarea>
                        <div *ngIf="tituloIsInvalid">
                            <small class="text-danger" *ngIf="titulo.hasError('required')">
                                Llene el campo por favor  <small class="fal fa-exclamation-triangle"></small>
                            </small>
                            <small class="text-danger" *ngIf="titulo.hasError('minlength')">
                                Texto muy corto  <small class="fal fa-exclamation-triangle"></small>
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Porcentaje:</label>
                        <input type="number" min=1 class="form-control" [class.is-invalid]="porcentajeIsInvalid" [class.is-valid]="porcentajeIsValid" formControlName="porcentaje" id="porcentaje2">
                        <div *ngIf="porcentajeIsInvalid">
                            <small class="text-danger" *ngIf="porcentaje.hasError('required')">
                                Llene el campo por favor  <small class="fal fa-exclamation-triangle"></small>
                            </small>
                            <small class="text-danger" *ngIf="porcentaje.hasError('min')">
                                Dato invalido  <small class="fal fa-exclamation-triangle"></small>
                            </small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" (click)="formValido2()">Guardar</button>
            </div>
        </div>
    </div>
</div>



<!--------------------------------modal 3  ---------------------- -------->
<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Agregar meritos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalMeritos">
                <div class="form-group">
                    <div class="table-responsive mt-3">
                        <form [formGroup]="formMeritos" (ngSubmit)="save($event)" novalidate autocomplete="off">
                            <div class="form-group">
                                <label class="col-form-label">Ingrese nuevo merito</label>
                                <input id="tituloMerito3" class="form-control" [class.is-invalid]="tituloIsInvalid" [class.is-valid]="tituloIsValid" formControlName="titulo" type="text" placeholder="Ingrese detalle merito">
                                <div *ngIf="tituloIsInvalid">
                                    <small class="text-danger" *ngIf="titulo.hasError('required')">
                                                    Llene el campo por favor <small class="fal fa-exclamation-triangle"></small>
                                    </small>
                                    <small class="text-danger" *ngIf="titulo.hasError('minlength')">
                                                    Texto demasiado corto  <small class="fal fa-exclamation-triangle"></small>
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Ingrese porcentaje</label><input id="porcentaje3" class="form-control" [class.is-invalid]="porcentajeIsInvalid" [class.is-valid]="porcentajeIsValid" formControlName="porcentaje" type="number"
                                    placeholder="Porcentaje%">
                                <div *ngIf="porcentajeIsInvalid">
                                    <small class="text-danger" *ngIf="porcentaje.hasError('required')">
                                                Llene el campo por favor  <small class="fal fa-exclamation-triangle"></small>
                                    </small>
                                    <small class="text-danger" *ngIf="porcentaje.hasError('min')">
                                                Dato invalido  <small class="fal fa-exclamation-triangle"></small>
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" id="descripcionMerito">Agregar descripcion <small class="text-danger">(*)</small> </label>
                                <hr>
                                <textarea class="form-control" id="requisitos3" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" (click)="formValido3()">Guardar</button>
            </div>
        </div>
    </div>
</div>