/* Sidebar */
#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 0;
  height: 100%;
  overflow-y: hidden;
  background: black;
  /*border: 2px solid red;*/
  border: dimgray;
  /*opacity: 0.9;*/
  color: #ddd;

}

/* Always take up entire screen */
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}


/* Change with of sidebar from 0 to 250px */
#wrapper.menuDisplayed #sidebar-wrapper {
  width: 250px;
}

/* Since we added left padding, we need to shrink the width by 250px */
#wrapper.menuDisplayed #page-content-wrapper {
  padding-left: 250px;
}


/* Sidebar styling - the entire ul list */
.sidebar-nav {
  padding: 0;
  list-style: none;
}
#img-usuario{
    

}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #ddd;
}

.sidebar-nav li a:hover {
  background: rgb(36, 125, 185);
}


.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../../../assets/img/logo.jpg);
}

.logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto; }

.rounded-circle {
  border-radius: 50% !important;
}

.my-5 {
  margin-bottom: 3rem !important;
}
