<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3> Acciones usuario</h3>
    </div>
    <ul class="list-unstyled components">
      <li class="opciones">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Crear
          Convocatoria</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">informatica y sistemas</a>
          </li>
          <li>
            <a href="#">Industrial</a>
          </li>
          <li>
            <a href="#">Civil</a>
          </li>
        </ul>
      </li>

      <li class="opciones">
        <a href="#">About</a>
      </li>
    </ul>
  </nav>

  <div class="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="toggleSideVar()">
        <i class="fa fa-align-justify"></i> <span>toggle sidebar</span>
      </button>

      <!--<a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>

    <!--<app-form-convocatoria-docencia></app-form-convocatoria-docencia>
    <app-footer></app-footer>-->

    <div class="line"></div>

  </div>
