<div class="row justify-content-end mt-2">
    <div class="col align-self-center ml-2">
<button class="btn btn-info" data-toggle="modal" data-target="#datosConv"> <i class="fa fa-info">&nbsp;&nbsp;&nbsp;Datos Convocatoria</i></button>  
  </div>
    <i class="fas fa-filter mr-2 align-self-center"></i>
    <div class="form-inline mr-2">
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">  Buscar Por Codigo Sis:</label>
        <input type="text" class="form-control" name="filtroCodigo" [(ngModel)]="filtroCodigo">
    </div>
    <div class="form-inline mr-2">
        <button type="submit" class="btn btn-info mr-2" (click)="listarTodo()">Ver todos los postulantes</button>
    </div>
</div>
<div class="form-group">
    <div class="table-responsive mt-3">
        <table class="table align-middle" id="requerimientos">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center" scope="col">Apellidos y Nombres</th>
                    <th class="text-center" scope="col">Cod_Sis</th>
                    <th class="text-center" scope="col">Evaluado por</th>
                    <th class="text-center" scope="col">Estado</th>
                </tr>
            </thead>
            <tbody class="accordion" id="accordionExample">
                <ng-container *ngFor="let postulante of listaPostulantes | filtroCodSis: filtroCodigo; let i = index">
                    <tr data-toggle="collapse" attr.data-target="#id{{postulante.getCodigoSis()}}{{i}}" aria-expanded="false" attr.aria-controls="id{{postulante.getCodigoSis()}}{{i}}" id="id2{{postulante.getCodigoSis()}}">
                        <td [class.text-success]="postulante.getEstado()=='habilitado'"  [class.text-danger]="postulante.getEstado()=='inhabilitado'"><i id="idIcono{{postulante.getCodigoSis()}}" class="fas fa-angle-right mr-2"></i>&nbsp;&nbsp;{{postulante.getApellidoPaterno() | titlecase}}&nbsp;&nbsp;{{postulante.getApellidoMaterno() | titlecase}}&nbsp;&nbsp;{{postulante.getNombres()
                            | titlecase}}</td>
                        <td [class.text-success]="postulante.getEstado()=='habilitado'"  [class.text-danger]="postulante.getEstado()=='inhabilitado'" class="text-center">{{postulante.getCodigoSis()}}</td>
                        <td [class.text-success]="postulante.getEstado()=='habilitado'"  [class.text-danger]="postulante.getEstado()=='inhabilitado'" *ngIf="postulante.getEvaluador().getApellidoPaterno() !=''" class="text-center">{{postulante.getEvaluador().getApellidoPaterno() | titlecase}}&nbsp;&nbsp;{{postulante.getEvaluador().getApellidoMaterno() | titlecase}}&nbsp;&nbsp;{{postulante.getEvaluador().getNombres() | titlecase}}</td>
                        <td [class.text-success]="postulante.getEstado()=='habilitado'"  [class.text-danger]="postulante.getEstado()=='inhabilitado'" *ngIf="postulante.getEvaluador().getApellidoPaterno()==''" class="text-center">Sin Evaluador</td>
                        <td [class.text-success]="postulante.getEstado()=='habilitado'"  [class.text-danger]="postulante.getEstado()=='inhabilitado'"class="text-center ">{{postulante.getEstado() | titlecase}}</td>
                    </tr>
                    <tr class="collapse" id="id{{postulante.getCodigoSis()}}{{i}}">
                        <td colspan="4" class="pt-2 pb-4">
                            <span class="font-weight-bold mr-2">Acciones:&nbsp;</span><br>
                            <button class="ml-5 mr-2 btn btn-outline-primary badge" (click)="registrarRequisitos(postulante)" [disabled]="evaluador(postulante)"><i class="fa fa-file-alt"></i>&nbsp; Registrar Requisitos</button>
                            <!--<button class="mr-2 btn btn-outline-success badge"><i class="fa fa-pencil"></i>&nbsp; Editar Requisitos</button>-->
                            <button class="mr-2 btn btn-outline-info badge" (click)="revisarRequisitos(postulante)" [disabled]="!evaluador(postulante)"><i class="far fa-eye"></i>&nbsp; Ver Detalles</button>
                          </td>
                    </tr>
                </ng-container>

            </tbody>
        </table>
    </div>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="datosConv" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Datos Convocatoria</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <p><strong>Titulo:</strong>  <br> {{titulo}}</p>
         <p><strong> Gestion:</strong> <br> {{gestion}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>