<div>
    <div class="d-flex justify-content-between align-items-center ">
        <h4 class="card-title ">III. Estudios Y Cursos Tomados</h4>
        <button type="button " class="btn btn-outline-info mb-2 " data-toggle="modal" data-target="#modalEstudiosCursosTomados" id="btnAniadir" (click)="reset()">
      <i class="fa fa-plus "></i> Añadir
    </button>
    </div>
    <div class="form-row ">
        <div class="table-responsive ">
            <table class="table align-middle table-hover mt-2 table-bordered ">
                <thead class="thead-dark ">
                    <tr>
                        <th class="text-center " scope="col ">Fecha</th>
                        <th class="text-center " scope="col "> Tipo Doc. </th>
                        <th class="text-center " scope="col ">Titulo Del Documento</th>
                        <th class="text-center " scope="col ">Institucion</th>
                        <th class="text-center " scope="col ">Lugar</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

<!--           modal para la tabla de estudios y cursos tomados               -->
<div class="modal fade" id="modalEstudiosCursosTomados" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel " aria-hidden="true ">
    <div class="modal-dialog " role="document ">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title ">Detalles De Estudios Y Cursos Tomados</h5>
                <button type="button " class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true ">&times;</span>
        </button>
            </div>
            <div class="modal-body ">
                <form autocomplete="off" (ngSubmit)="guardar(form)" #form="ngForm" name="form" id="formulario">
                    <div class="form-group ">
                        <label for="recipient-name " class="col-form-label ">Tipo de documento obtenido: </label>
                        <select aria-placeholder="Seleccione " class="custom-select" required name="tipoDocumento" #tipoDocumento="ngModel" ngModel [class.is-invalid]="tipoDocumento.invalid && tipoDocumento.touched" [class.is-valid]="tipoDocumento.valid && tipoDocumento.touched">
              <option selected disabled hidden value="">Seleccione un tipo de documento obtenido</option>
              <option>Certificado</option>
              <option>Diploma</option>
              <option>Titulo</option>
            </select>
                    </div>
                    <div class="form-group ">
                        <label for="recipient-name " class="col-form-label ">Titulo del cocumento/mencion: </label>
                        <input placeholder="Titulo" class="form-control " type="text" required name="tituloDocumento" #tituloDocumento="ngModel" ngModel [class.is-invalid]="tituloDocumento.invalid && tituloDocumento.touched" [class.is-valid]="tituloDocumento.valid && tituloDocumento.touched">
                    </div>
                    <div class="form-group ">
                        <label for="recipient-name " class="col-form-label ">Institucion donde obtuvo el documento: </label>
                        <input placeholder="Institucion" class="form-control " type="text" required name="institucion" #institucion="ngModel" ngModel [class.is-invalid]="institucion.invalid && institucion.touched" [class.is-valid]="institucion.valid && institucion.touched">
                    </div>
                    <div class="form-group ">
                        <label for="recipient-name " class="col-form-label ">Lugar donde obtuvo el documento: </label>
                        <input placeholder="Lugar" class="form-control " type="text" required name="lugar" #lugar="ngModel" ngModel [class.is-invalid]="lugar.invalid && lugar.touched" [class.is-valid]="lugar.valid && lugar.touched">
                    </div>
                    <div class="form-group ">
                        <label class="col-form-label mr-1 ">Fecha documento:</label>
                        <div class="d-flex justify-content ">
                            <input placeholder="Fecha" [matDatepicker]="pickerm2 " class="form-control " readonly required name="fecha" #fecha="ngModel" ngModel [class.is-invalid]="fecha.invalid && fecha.touched" [class.is-valid]="fecha.valid && fecha.touched">
                            <mat-datepicker-toggle matSuffix [for]="pickerm2 "></mat-datepicker-toggle>
                            <mat-datepicker #pickerm2></mat-datepicker>
                        </div>
                    </div>
                    <div class="modal-footer ">
                        <button type="button " class="btn btn-secondary " data-dismiss="modal ">Cancelar</button>
                        <button type="submit " class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>