<div class="container">
    <button routerLink="/crearConvocatoria" type="button" class="btn btn-outline-info mr-3">Crear Convocatoria</button>
    <button routerLink="/editar/convocatorias" type="button" class="btn btn-outline-primary mr-3">Convocatorias</button>
    <button routerLink="/formularioRegistro" type="button" class="btn btn-outline-danger mr-3">Registrar mis datos</button>
    <button routerLink="/formularioMiembro" type="button" class="btn btn-outline-success mr-3">Registrar Miembro</button>
    <button routerLink="/convocatoriasEnCurso" type="button" class="btn btn-outline-warning mr-3">Registrarme Como Postulante</button>
    <button routerLink="/datos_presentados" type="button" class="btn btn-outline-secondary mr-3">Registrar Datos Postulante</button>
    <!-- <button routerLink="/convocatorias" type="button" class="btn btn-outline-warning">Agregar Comisiones</button> -->
    <!-- <button class="btn btn-outline-danger mr-3" (click)="descargarPDF()">no es porno</button> -->
</div>