<div class="fondo">
    <div id="carouselExampleIndicators" class="carousel slide mt-0 pt-0" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/3aVlWP-7bg8/1920x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">UMSS</h2>
                    <p class="lead">Mejor Universidad de Bolivia.</p>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/5mZ_M06Fc9g/1920x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Facultad de Ciencias y Tecnología</h2>
                    <p class="lead">La mejor facultad de la UMSS.</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/PBNbMX6jtBM/1920x1080')">
                <div class="carousel-caption d-none d-md-block">
                    <h2 class="display-4">Imagen</h2>
                    <p class="lead">Descripcion.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <section class="py-5 mb-5">
        <div class="container">
            <h1 class="display-4 text-monospace mb-5">Universidad Mayor de San Simon</h1>
            <p class="lead text-justify ">La Universidad Mayor de San Simón (UMSS), fundada por Ley del 5 de noviembre de 1832, durante la Presidencia del Mcal. Andrés de Santa Cruz, es una entidad autónoma, de derecho público, constituida por docentes, estudiantes y personal administrativo,
                con personería jurídica propia, reconocida por la Constitución Política del Estado. Cubre el área de la educación superior con sus funciones de enseñanza-aprendizaje, investigación científica y tecnológica e interacción social universitaria.
                La UMSS pertenece al Sistema de Universidades Públicas agrupadas en torno al Comité Ejecutivo de la Universidad Boliviana (CEUB). La actividad académica y administrativa de la UMSS se sujeta, tanto a las leyes bolivianas como a la normativa
                interna, expresada en el Estatuto Orgánico. </p>
        </div>
    </section>
</div>