<div class="container">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Registrar Datos personales</h4>
            <div class="w-100">
                <hr class="border border-light bg-secondary">
            </div>
            <form class="form p-t-20">
                <div class="form-group">
                    <label for="exampleInputpwd2">Nombres</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="exampleInputpwd2" placeholder="Ingrese sus nombres">
                        <span class="btn disabled" style="background-color: #e9ecef; border: 1px solid rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;"><i class="far fa-user"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputpwd2">Apellidos</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="exampleInputpwd2" placeholder="Ingrese sus apellidos">
                        <span class="btn disabled" style="background-color: #e9ecef; border: 1px solid rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;"><i class="fal fa-envelope"></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputpwd2">Correo</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="exampleInputpwd2" placeholder="Ingrese su correo">
                        <span class="btn disabled" style="background-color: #e9ecef; border: 1px solid rgba(0,0,0,.15); border-radius: 0px 0.25rem 0.25rem 0px;"><i class="fal fa-envelope"></i></span>
                    </div>
                </div>
                <div class="text-left">
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                    <button type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

