<div class="container">
  <br>
  <div class="align-self-center ml-2 d-flex justify-content-between">
    <button class="btn btn-info" data-toggle="modal" data-target="#datosPost"> <i
        class="fa fa-info">&nbsp;&nbsp;&nbsp;Datos Postulante</i></button>
    <button class="d-inline-block btn btn-success text-right" (click)="alertConfirmacion()"> Guardar Registro</button>
  </div><br>
  <table class="table align-middle table-hover" id="requerimientosNoP">
    <thead class="thead-dark">
      <tr>
        <th>Seleccione los requisitos presentados
          por el postulante</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="comparar()">
        <tr *ngFor="let requisisto of listaRequisitos; let i = index">
          <td class="d-flex justify-content-between mt-4 align-items-center" (click)="setSeleccionado(requisisto,i)">
            <span class=" mt-4 w-100" id="requisisto.getIdRequisito()">
              {{requisisto.getDescripcion()}}
              <hr class="mt-0">
            </span>
            <div class="checkbox">
              <label style="font-size: 2em ">
                <input type="checkbox" value="" id="chequeo{{i}}"[checked]="requisisto.getSeleccionado()">
                <span class="cr"  (click)="setSeleccionadoCheck(requisisto,i)"><i
                    class="cr-icon fa fa-check"></i></span>
              </label>
            </div>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>




<!-- Modal -->
<div class="modal fade" id="datosPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datos Convocatoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Nombres y Apellidos:</strong> <br>
          {{postulante.getNombreCompleto()}}
        </p>
        <p><strong> Codigo Sis:</strong> <br> {{postulante.getCodigoSis()}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

