<div>
  <div class="d-flex justify-content-between align-items-center ">
    <h4 class="card-title ">VI. Produccion (Investigacion, Publicacion, Articulos, Etc)</h4>
    <button type="button " class="btn btn-outline-info mb-2 " data-toggle="modal " data-target="#modalProduccion ">
      <i class="fa fa-plus "></i> Añadir
    </button>
  </div>
  <div class="form-row ">
    <div class="table-responsive ">
      <table class="table align-middle table-hover mt-2 table-bordered ">
        <thead class="thead-dark ">
          <tr>
            <th class="text-center " scope="col ">Titulo/Tema</th>
            <th class="text-center " scope="col ">Tipo De Difunsion</th>
            <th class="text-center " scope="col ">Medio De Publicacion/Difusion</th>
            <th class="text-center " scope="col ">Institucion A La Que Se Entrego El Trabajo</th>
            <th class="text-center " scope="col ">Fecha De Coclusion Del Trabajo</th>
          </tr>
        </thead>

        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!--           modal para la tabla de experiencia  produccion (investigacion, publicacion, articulos, etc)               -->
<div class="modal fade " id="modalProduccion " tabindex="-1 " role="dialog " aria-labelledby="exampleModalLabel "
  aria-hidden="true ">
  <div class="modal-dialog " role="document ">
    <div class="modal-content ">
      <div class="modal-header ">
        <h5 class="modal-title " id=" ">Detalles De Produccion (Investigacion, Publicacion, Articulos, Etc.)</h5>
        <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
          <span aria-hidden="true ">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <form autocomplete="off ">
          <div class="form-group ">
            <label for="recipient-name " class="col-form-label ">Titulo o Tema: </label>
            <input class="form-control " type="text ">
          </div>

          <div class="form-group ">
            <label for="recipient-name " class="col-form-label ">Tipo de difusion: </label>
            <select aria-placeholder="Seleccione " class="custom-select ">
              <option selected disabled value="por defecto ">Seleccione un tipo de gestion</option>
              <option>Publicado</option>
              <option>Difundido</option>
              <option>Ninguno</option>
            </select>
          </div>

          <div class="form-group ">
            <label for="recipient-name " class="col-form-label ">Medio de publicacion o difusion: </label>
            <input class="form-control " type="text ">
          </div>
          <div class="form-group ">
            <label for="recipient-name " class="col-form-label ">Institucion a la que se entrego el trabajo: </label>
            <input class="form-control " type="text ">
          </div>

          <div class="form-group ">
            <label class="col-form-label mr-1 ">Fecha de conclusion del trabajo:</label>
            <div class="d-flex justify-content ">
              <input [matDatepicker]="pickerm7 " class="form-control " readonly>
              <mat-datepicker-toggle matSuffix [for]="pickerm7 "></mat-datepicker-toggle>
              <mat-datepicker #pickerm7></mat-datepicker>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer ">
        <button type="button " class="btn btn-secondary " data-dismiss="modal ">Cancelar</button>
        <button type="submit " class="btn btn-primary ">Guardar</button>
      </div>
    </div>
  </div>
</div>