<div class="row">
    <div>
        <h5 for="requisitos">Convocatorias creadas</h5>
        <hr>
    </div>
</div>
<div class="row">Filtros</div>
<div class="row">
    <div class="form-group">
        <div class="table-responsive mt-3">
            <table class="table align-middle table-hover table-bordered" id="requerimientos">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center" scope="col">Título Convocatoria</th>
                        <th class="text-center" scope="col">Tipo</th>
                        <th class="text-center" scope="col">Estado</th>
                        <th class="text-center" scope="col">Gestión</th>
                        <th class="text-center" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{titulo | titlecase}}</td>
                        <td class="text-center">Docencia</td>
                        <td class="text-center">En curso</td>
                        <td class="text-center">2020</td>
                        <td class="text-center">
                            <div class="btn btn-group" role="group">
                                <button class="btn btn-outline-success mr-1" type="button" data-toggle="modal" data-target="#tablaEditar">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-outline-danger" type="button">
                                    <i class="fa fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="tablaEditar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Editar convocatoria</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body" id="modalMeritos">
                <form [formGroup]="formCrearConv" (ngSubmit)="save($event)" novalidate autocomplete="off">
                    <div class="form-group">
                        <label for="nombreConvocatoria" class="col-form-label">Título De La Covocatoria:</label>
                        <textarea role="input" class="form-control" id="tituloConvocatoria" rows="3" style="min-height: 100px; max-height: 150px;" [class.is-invalid]="tituloFormIsInvalid" [class.is-valid]="tituloFormIsValid" formControlName="titulo">titulo</textarea>
                        <div *ngIf="tituloFormIsInvalid">
                            <small class="text-danger" *ngIf="tituloForm.hasError('required')">
                  Llene el campo por favor <small class="fal fa-exclamation-triangle"></small>
                            </small>
                            <small class="text-danger" *ngIf="tituloForm.hasError('minlength')">
                  Texto muy corto <small class="fal fa-exclamation-triangle"></small>
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="seleccionGestion" class="col-form-label">Gestion: </label>
                        <select class="custom-select" id="seleccionGestion" [class.is-invalid]="gestionFormIsInvalid" [class.is-valid]="gestionFormIsValid" formControlName="gestion">
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
              </select>
                        <div *ngIf="gestionFormIsInvalid">
                            <small class="text-danger" *ngIf="gestionForm.hasError('required')">
                  Seleccione una gestion <small class="fal fa-exclamation-triangle"></small>
                            </small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="submit" class="btn btn-primary" id="guardar">Editar</button>
                <div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="guardar">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>