<div class="container mt-5">
    <form>
        <div class="form-group">
            <label for="titulo">Título</label>
            <input type="email" class="form-control" id="titulo" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea class="form-control" id="descripcion" rows="3"></textarea>
        </div>
        <div class="form-group">
            <div class="d-flex justify-content-between align-items-end">
                <label for="exampleInputEmail1">1.- Requerimientos</label>
                <button (click)="getNombreMaterias()" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#tablaRequerimientos">
                    <i class="fa fa-plus"></i> Añadir
                </button>
            </div>
            <table class="table align-middle table-hover" id="requerimientos">
                <thead class="thead-light">
                    <tr>
                        <th class="text-center" scope="col">Items</th>
                        <th class="text-center" scope="col">Cantidad(Aux.)</th>
                        <th class="text-center" scope="col">Hrs/mes</th>
                        <th class="text-center" scope="col">Materia</th>
                        <th class="text-center" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mat of materias">
                        <td class="text-center" scope="row">1</td>
                        <td class="text-center">{{mat.idMat}}</td>
                        <td class="text-center">{{mat.seleccionado}}</td>
                        <td class="text-center">{{mat.nombreMat}}</td>
                        <td class="text-center">
                            <button class="btn btn-outline-success">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-outline-danger">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </td>

                    </tr>
                    <tr>
                        <td class="text-center" scope="row">1</td>
                        <td class="text-center">9</td>
                        <td class="text-center">10</td>
                        <td class="text-center">Introduccion a la programacion</td>
                        <td class="text-center">
                            <button class="btn btn-outline-success">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-outline-danger">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center" scope="row">1</td>
                        <td class="text-center">9</td>
                        <td class="text-center">10</td>
                        <td contenteditable='true' class="text-center">Introduccion a la programacion</td>
                        <td class="text-center">
                            <button class="btn btn-outline-success">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-outline-danger">
                                <i class="fa fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <div class="d-flex justify-content-between align-items-end">
                <label for="requisitos">2.- Requisitos</label>
                <button class="btn btn-outline-info">
                        <i class="fa fa-plus"></i> Añadir
                </button>
            </div>
            <textarea class="form-control" id="requisitos" rows="3"></textarea>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <div class="d-flex justify-content-between align-items-end">
                <label for="documentos">3.- Documentos a presentar </label>
                <button class="btn btn-outline-info">
                        <i class="fa fa-plus"></i> Añadir
                </button>
            </div>
            <textarea class="form-control" id="documentos" rows="3"></textarea>
            <small id="emailHelp" class="form-text text-muted">NOTA.- Toda la documentación se legalizará gratuitamente en Secretaria del Departamento de Informática y Sistemas. (Presentar original y fotocopias). La documentación no será devuelta. </small>
        </div>

        <div class="form-group">
            <label for="requisitos">4.- De la forma</label>
            <textarea class="form-control" id="requisitos" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="requisitos">5.- Fecha de presentación</label>
            <textarea class="form-control" id="requisitos" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="requisitos">6.- De la calificación de méritos </label>
            <textarea class="form-control" id="requisitos" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="requisitos">8.- De los tribunales </label>
            <textarea class="form-control" id="requisitos" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="requisitos">9.- Fechas de pruebas </label>
            <textarea class="form-control" id="requisitos" rows="3"></textarea>
            <div class="mt-3">
                <table class="table align-middle table-hover" id="requerimientos">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center" scope="col">Eventos</th>
                            <th class="text-center" scope="col">Fechas</th>
                            <th class="text-center" scope="col">Detalles</th>
                            <th class="text-center" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center" scope="row">Reclamos </td>
                            <td class="text-center">jueves, 13 de febrero de 2020 </td>
                            <td class="text-center">Hasta horas 11:00 a.m. En Secretaria del Departamento de Informática y Sistemas </td>
                            <td class="text-center">
                                <button class="btn btn-outline-success">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button class="btn btn-outline-danger">
                                    <i class="fa fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <label for="nota">Nota </label>
            <textarea class="form-control " id="nota" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="delNombramiento">10.- Del nombramiento </label>
            <textarea class="form-control" id="delNombramiento" rows="3"></textarea>
        </div>

    </form>

</div>


<!-- Modal para agregar requerimiento -->

<div class="modal fade" id="tablaRequerimientos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Agregar nuevo requerimiento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Items: </label>
                        <input type="number" min="1" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Cantidad(Aux.) </label>
                        <input type="number" min="1" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Hrs/mes </label>
                        <input type="number" min="1" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Materia: </label>
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Seleccione una materia:
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Introooooooooooooooooooooooooooooooooo</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>