<div class="container mt-5 mb-5">
    <form>
        <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" aria-describedby="emailHelp">
        </div>
        <br>
        <div class="form-group">
            <app-requerimientos #requerimiento (datosRequerimientos)="DatosRequerimientos($event)"></app-requerimientos>
        </div>
        <br>
        <div class="form-group">
            <app-requisitos></app-requisitos>
        </div>
        <br>
        <div class="form-group">
            <app-documentos-presentar #documentosPresentar (datosDocumentosPresentar)="datosDocumentosPresentar($event)"></app-documentos-presentar>
        </div>
        <br>
        <div class="form-group">
            <app-meritos></app-meritos>
        </div>
        <br>
        <div class="form-group">
            <app-calificacion-conocimientos></app-calificacion-conocimientos>
        </div>
        <br>
        <div class="form-group">
            <app-fechas></app-fechas>
        </div>
        <br>
        <br>
        <hr>
        <div class="form-group">
            <div class="d-flex justify-content-end mt-5">
                <button class="btn btn-outline-dark" type="button" (click)="requerimiento.getDatos()">
                        <i class="fa fa-plus"></i> Guardar 
                </button>
            </div>
        </div>
        <br>
    </form>
    <br>
</div>